/*
Navigation:

1) border
2) logo
3) social-icons
4) banner
5) content without sidebar
6) content2 which contains sidebar
7) photo-block
8) tables
9) cell items
10) footer

*/

body {
    margin: 0;
}

//1) border
.flex-border {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.border100 {
    background: dodgerblue;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    margin: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    @media (max-width: 768px) {
        height: 130px;
    }
    @media (max-width: 479px) {
        height: 170px;
    }
}

//2) logo
.flex-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    @media (max-width: 479px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.logo-image {
    margin-top: 7px;
}

// 3) social icons
.flex-social {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media (max-width: 479px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.social-icons {
    margin-top: -50px;
    @media (max-width: 479px) {
        margin-top: 10px;
    }
    a {
        padding-right: 10px;
        color: white;
    }
    a:hover {
        color: yellow;
    }
}

// 4) banner
.banner {
    background-image: url("/img/banner.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

// 5) content without sidebar
.flex-content {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content {
    background-color: #F7F7F7;
    margin-top: 20px;
    text-align: center;
}

// 6) content2 which contains sidebar
.flex-content2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.content-container2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content2 {
    background: snow;
    color: black;
    margin-top: 20px;
    width: 65vw;
    @media (max-width: 991px) {
        width: 80vw;
    }
}

//sidebar
.sidebar-right {
    background: #E0E0E0;
    float: right;
    margin-top: 20px;
    vertical-align: baseline;
    width: 15vw;
    @media (max-width: 991px) {
        width: 80vw;
    }
    a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        -webkit-transition: .4s ease-out;
        -webkit-transition-delay: 0.5s;
        -o-transition: .4s ease-out;
        -o-transition-delay: 0.5s;
        -moz-transition: .4s ease-out;
        -moz-transition-delay: 0.5s;
        transition: .4s ease-out;
        transition-delay: 0.5s;
    }
    a:hover {
        color: rgb(0, 4, 255);
    }
    li {
        list-style-type: none;
        @media (max-width: 991px) {
            text-align: center;
        }
    }
}

// 7)photo-block
.flex-photo {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px, 20px, 20px, 20px;
}

.image {
    background-color: #F7F7F7;
    border: 6px solid rgb(0, 68, 255);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(33.33% - 30px);
    flex: 1 1 calc(33.33% - 30px);
    margin: 5px;
    margin-top: 20px;
    min-width: 170px;
    padding: 10px;
    >img {
        width: 100%;
        @media (max-width: 768px) {
            margin-left: 0px;
        }
    }
}

// 8)tables
.flex-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}

.table-img {
    -webkit-box-flex: 1;
    border: 2px solid rgb(4, 0, 255);
    @media (max-width: 380px) {
        width: 90%;
    }
    >img {
        width: 100%;
        @media (max-width: 768px) {
            margin-left: 0px;
        }
    }
    >p {
        background: rgb(172, 163, 255);
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        width: 100%;
    }
    th {
        background-color: rgb(55, 0, 255);
        border: 2px solid white;
        color: white;
        font-size: 18px;
        width: 50%;
    }
    th:hover {
        background-color: rgb(25, 0, 167);
    }
    td {
        background-color: rgb(164, 163, 255);
        border: 2px solid white;
        color: black;
        font-size: 20px;
        padding: 10px;
        width: 220px;
        @media (max-width: 380px) {
            width: 140px;
        }
    }
    td:hover {
        background-color: rgb(110, 113, 253);
    }
}

//9) cell items
.white-banner {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}

.text {
    color: black;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.cell-items {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(33.33% - 30px);
    flex: 1 1 calc(33.33% - 30px);
    margin: 5px;
    margin-bottom: 25px;
    min-width: 170px; //padding: 20px;
    padding-top: 25px;
    text-align: center;
}

.big-paragraph {
    color: black;
    font-size: 170%;
    text-align: center;
    @media (max-width: 478px) {
        font-size: 130%;
    }
}

//10) footer
.flex-container2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-box {
    background: dodgerblue;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 160px;
    left: 0px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    @media (max-width: 768px) {
        min-height: 320px;
    }
    @media (max-width: 478px) {
        min-height: 350px;
    }
}

.links-flex {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    @media (max-width: 768px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.links-box {
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    text-decoration: none;
    @media (max-width: 768px) {
        margin-top: 30px;
    }
    >a {
        color: black;
    }
    a:hover {
        color: rgb(230, 247, 247);
        text-decoration: none;
    }
    a:nth-child(1n) {
        padding-right: 40px;
        text-decoration: none;
        @media (max-width: 768px) {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 calc(33.33% - 30px);
            flex: 1 1 calc(33.33% - 30px);
            margin: 80px;
            margin-bottom: 25px;
            min-width: 170px;
            padding: 20px;
            padding-top: 25px;
            text-align: center;
        }
    }
}

.flex-social2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-icon2 {
    margin-top: 30px;
    @media (max-width: 479px) {
        margin-top: 10px;
    }
    a {
        padding-right: 10px;
        color: white;
    }
    a:hover {
        color: yellow;
    }
}